{% extends 'base.html.twig' %}

{% block title %}{{ team.name }}{% endblock %}

{% block body %}
    <h1>Team {{ team.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ team.email }}</td>
            </tr>
        </tbody>
    </table>
    <a class="secondary-button" href="{{ path('app_logout') }}" title="Déconnexion">Se déconnecter</a>
{% endblock %}
