{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h4 class="primary-title">Entre tes identifiants</h4>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Tu es déjà connecté sous le nom "{{ app.user.name }}", <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >


            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> se souvenir de moi
                </label>
            </div>


        <button class="secondary-button" type="submit">
            Je me connecte
        </button>
        Pas encore de compte ? <a href="{{ path('app_register') }}">Crée ton équipe !</a>
    </form>
{% endblock %}
