{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2 class="primary-title">Crée une équipe</h2>

    {{ form_start(registrationForm) }}
    <p>
        {{ form_label(registrationForm.name, 'Nom de l\'équipe', { 'label_attr': {'class': 'form'} })}}
        {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(registrationForm.name, {'attr': {'class': 'form-error'}}) }}
    </p>
    <p>
        {{ form_label(registrationForm.email, 'Email', { 'label_attr': {'class': 'form'} })}}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(registrationForm.email) }}
    </p>
    <p>
        {{ form_label(registrationForm.plainPassword, 'Mot de passe', { 'label_attr': {'class': 'form'} })}}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </p>
    <p>
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-label'}}) }}
        {{ form_label(registrationForm.agreeTerms, 'j\'accepte les termes', { 'label_attr': {'class': 'form'} })}}
    </p>
        <button class="secondary-button">Je crée mon équipe</button>
    {{ form_end(registrationForm) }}
{% endblock %}
