{% extends 'base.html.twig' %}

{% block title %}Partie {{ game.id }}{% endblock %}

{% block body %}
    <h1>Partie {{ game.id }}</h1>

    <p>Manche {{ round }}</p>
    <p>{{ word.word.word }}</p>
    {% for team in game.teams %}
        {% if team.id != app.user.id %}
            <a href="{{ path('game_wincard', {'team': team.id, 'word': word.id, 'round': round }) }}" title="Gagnant">gagné par {{ team.name }}</a>
        {% endif %}
    {% endfor %}
    <a href="{{ path('game_play') }}" title="Passer">Passer</a>



{% endblock %}
