{% extends 'base.html.twig' %}

{% block title %}Partie {{ game.id }}{% endblock %}

{% block body %}
    <h2 class="primary-title">Partie n°{{ game.id }}</h2>

    {% if game.teams | length >= 3 %}
        {% if game.isComposed == true %}
            <a class="secondary-button" href="{{ path('add_words_to_game', {'id': game.id}) }}">Choisir mes mots</a>
        {% else %}
            <a class="secondary-button" href="{{ path('validate_game', {'id': game.id}) }}">
                Valider ces {{ game.teams | length }} équipes
            </a>
        {% endif %}
    {% endif %}

    <div class="row third-bg">
        <div class="col">
        <p>Participants (3 minimum)</p>
            {% for team in game.teams %}
                <a class="primary-button"
                   href="{{ path('delete_team_from_game', {'id': game.id, 'team': team.id }) }}">
                    {{ team.name }}
                </a>
            {% endfor %}
            {% if game.isComposed == 0 %}
            <p>Clic pour enlever</p>
            {% endif %}
        </div>
    </div>
    {% if game.isComposed == 0 %}
            <p>Inscrire une autre team :</p>

            {% for team in teams %}
                <a class="secondary-button" href="{{ path('add_team_to_game', {'id': game.id, 'team': team.id }) }}">{{ team.name }}</a>
            {% endfor %}

        {% endif %}

    <p>Partie lancée le {{ game.date ? game.date|date('d/m/Y à H:i:s') : '' }}</p>
    <a href="{{ path('howtoplay') }}">Lire les règles du jeu ?</a>

{% for role in app.user.roles %}
    {% if role == "ROLE_ADMIN" %}
    <a href="{{ path('game_index') }}">Liste des parties</a>

    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}
    {% endif %}
    {% endfor %}
{% endblock %}
