<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Time's Up{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
    <nav class="row p-2 topnavbar">
        <div class="col">
            <a href="{{ path('index') }}">Time's Up</a>
        </div>
        <div class="col text-right">
            {% if app.user.name is defined %}
                <a href="{{ path('team_show', {'id':app.user.id }) }}" title="Mon équipe">{{ app.user.name }}</a>
            {% else %}
                <a href="{{ path('app_login') }}" title="Connexion" class="nav-link">Connecte-toi</a>
            {% endif %}
            <span class="sr-only">(current)</span>
        </div>
    </nav>
    <main class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-10 col-sm-8 col-md-6">
                {% block body %}{% endblock %}
            </div>
        </div>
    </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
